<div class="container" fxLayout="column" fxLayoutGap="10px">
    <div fxFlex>
        <div>
            <h3>Menu</h3>
            <hr>
        </div>
    </div>


    <div fxFlex *ngIf="dishes">
        <mat-grid-list cols="2" rowHeight="200px">
            <!-- <mat-grid-tile *ngFor="let dish of dishes" [routerLink]="['/dishdetail', dish.id]"> -->
            <mat-grid-tile *ngFor="let dish of dishes" [routerLink]="['/dishdetail', dish.id]" appHighlight>
                <!-- <img matListAvatar src="{{BaseURL+dish.image}}" alt="{{dish.name}}"> -->
                <img height="200px" src="{{ baseURL + dish.image }}" alt={{dish.name}}>
                <!-- <p matLine><span>{{dish.description}}</span></p> -->
                <mat-grid-tile-footer>
                    <h1>{{dish.name | uppercase}}</h1>
                </mat-grid-tile-footer>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <div fxFlex [hidden]="dishes || errMsg">
        <mat-spinner></mat-spinner>
        <h4>Loding ... Please wait</h4>
    </div>
    <div fxFlex *ngIf="errMsg">
        <h2>Error</h2>
        <h4 text-danger>{{errMsg}}</h4>
    </div>

    <!-- <div fxFlex *ngIf="selectedDish">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <h3>{{selectedDish.name | uppercase}}</h3>
                </mat-card-title>
            </mat-card-header>
            <img mat-card-image src="{{selectedDish.image}}" alt="{{selectedDish.name}}">   
            <mat-card-content>
                <p>{{selectedDish.description}}</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>Like</button>
                <button mat-button>Share</button>
            </mat-card-actions>
        </mat-card> 
    </div> -->
    <!-- <app-dishdetail [dish]="selectedDish"></app-dishdetail> -->
</div>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $("p").click(function(){
        $("#hide").show();
    })
</script> -->
<!-- 
<i class="fas fa-comment-alt fa-lg" id="chat" style="color: blue; font-size: 40px;" position="fixed"></i> -->