<!-- <div class="container" fxLayout="column" fxLayoutGap="10px">
    <div fxFlex *ngIf="dish">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <h3>{{dish.name | uppercase}}</h3>
                </mat-card-title>
            </mat-card-header>
            <img mat-card-image src="{{dish.image}}" alt="{{dish.name}}">
            <mat-card-content>
                <p>{{dish.description}}</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>Like</button>
                <button mat-button>Share</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div> -->
<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
 
    fxLayoutGap.xs="0">

  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
    <!-- <p>{{dish.description}}</p> -->
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <h3>{{dish.name | uppercase}}</h3>
                </mat-card-title>
            </mat-card-header>
            <img mat-card-image src="{{BaseURL + dish.image}}" alt="{{dish.name}}">
            <mat-card-content>
                <p>{{dish.description}}</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button [routerLink]="['/dishdetail',prev]">
                    <span class="fas fa-chevron-left fa-lg"></span>
                </button>
                <!-- <button mat-button (click)="goBack()">BACK</button> -->
                <button mat-button>Like</button>
                <button mat-button>Share</button>
                <span class="flex-space"></span>
                <button mat-button [routerLink]="['/dishdetail',next]">
                    <span class="fas fa-chevron-right fa-lg"></span>
                </button>
            </mat-card-actions>
        </mat-card>
  </div>

  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <h3>Comments</h3>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-list *ngFor="let c of dish.comments">
                <p>{{c.comment}}</p>
                <p>{{c.rating}}</p>
                <p>--{{c.author}} {{c.date|date}}</p>
                <br />
            </mat-list>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <div>
            <p>{{commentForm.value.comment }} </p> 
            <p id="rate">{{commentForm.value.rating|number }}</p>
            <p>--{{commentForm.value.author }} {{commentForm.value.date|date}}</p>
        </div>
        <form novalidate [formGroup]="commentForm" (ngSubmit)="onSubmit()">
            <p>
                <mat-form-field class="half-width">
                    <input matInput formControlName="author" placeholder="Name" type="text">
                    <mat-error *ngIf="formErrors.author">
                        {{ formErrors.author }}
                    </mat-error>
                </mat-form-field>
            </p>
            <p>
                <!-- <mat-slider min="1" max="5" step="1" value="2"></mat-slider> -->
                <mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="1" step="1" min="0" max="5"
                    aria-label="units" formControlName="rating"></mat-slider>
            </p>
            <p>
                <mat-form-field class="full-width">
                    <textarea matInput formControlName="comment" placeholder="Your Comment" rows=12></textarea>
                    <mat-error *ngIf="formErrors.comment">
                        {{ formErrors.comment }}
                    </mat-error>
                </mat-form-field>
            </p>
            <button type="submit" [disabled]="commentForm.invalid" mat-button class="background-primary text-floral-white">Submit</button>
        </form>        
    </mat-card>
    <!-- <div fxFlex [hidden]="dish || errMsg">
        <mat-spinner></mat-spinner>
        <h4>Loding ... Please wait</h4>
    </div>
    <div fxFlex *ngIf="errMsg">
        <h2>Error</h2>
        <h4 text-danger>{{errMsg}}</h4>
    </div> -->
  </div>
</div>